<!--<footer class="footer">
  <small>
    <a href="http://gymfeed.com/">Powered By Gym Feed</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.gymfeed.com/">News</a></li>
    </ul>
  </nav>
</footer>
-->